.favorites {
  min-height: 94vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.favorites__top{
  width:100%;
  height: 25vh;

  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.light-favorites__top{
  background-color:rgb(251, 251, 251);
}

.dark-favorites__top{
  background-color:  rgb(23, 23, 25);
}

.favorites__h1 {
  max-width: 37%;
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  padding: 1rem;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

.favorites__info{
  height:3rem;
  margin-bottom: 1.5rem;
}

.favorites__info__p{
  font-size: 1.4rem;
  font-weight: 300;
}

.light-favorites__info__p {
  color: black;
}

.dark-favorites__info__p {
  color: white;
}

.favorites__not-found{
  font-size: 1.7rem;
  font-weight: 300;

  height: 58vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.light-favorites__not-found {
  color: black;
}

.dark-favorites__not-found {
  color: white;
}

ul {
  list-style-type: none;
 }