.main-navigation {
  width: 50%;
}

.navlink-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navlink {
  text-decoration: none;
  font-size: 1.3rem;
}

.navlink:hover {
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-navlink {
  color: white;
}

.light-navlink {
  color: rgb(0, 0, 0);
}

.active {
  border-bottom: 0.2rem solid #1F9BD3; /* midpoint color*/ 
  padding-bottom: 0.9rem;
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}