.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

  border-radius: 1rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.light-label {
  color: black;
}

.dark-label {
  color: #ffffff;
}

.input {
  width: 20rem;
  padding: 0.4em;
  border: 0.07rem solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.light-input {
  border-color: #ced4da;
}

.dark-input {
  color: #ffffff;
  border-color: #a6a7ab;
  background-color: #1A1B1E;
}

.invalid-input {
  border-color: red;
}

.error-text {
  margin: 0;
  height: 0;
  font-size: 0.8rem;
  color: red;
}

.submit {
  text-decoration: none;
  cursor: pointer;

  min-width: 6rem;
  padding: 0.5em;
  font-size: 1.2rem;
 
  border: none;
  border-radius: 0.5rem;

  background-image: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  color: #ffff;
}

.submit[disabled] {
  color: #3536384b;
  background-image: none;
  background-color: #a6a7ab;
  cursor: not-allowed;
}
