.form {
  width: 70%;
  display: flex;
}

.column-form{
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.row-form{
  align-items: flex-end;
  gap: 0.5rem;
}

.input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input__label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.light-input__label {
  color: #000000;
}

.dark-input__label {
  color: #ffffff;
}

.input {
  width: 100%;
  padding: 0.4em;
  border: 0.07rem solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.light-input {
  border-color: #ced4da;
}

.dark-input {
  color: #ffffff;
  border-color: #a6a7ab;
  background-color: #1A1B1E;
}

.invalid-input {
  border-color: red;
}

.input__error-text {
  margin: 0;
  height: 0;
  font-size: 0.8rem;
  color: red;
}

.submit {
  text-decoration: none;
  cursor: pointer;

  padding: 0.45em 1em 0.5em 1em;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;

  background-image: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  color: #ffff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.submit[disabled] {
  color: #a6a7ab;
  background-image: none;
  background-color: #a6a7ab4b;
  cursor: not-allowed;
}
