.images-wrapper {
  width: 99%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  
  list-style-type: none;
}

.images-wrapper:hover .image-card{
    opacity: 0.85;
}