.welcome {
  min-height: 94vh;
  width: 100%;

  display: flex;
  justify-content: center;
}

.welcome__wrapper{
  max-width: 80rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.welcome__headline {
  max-width: 72rem;
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 5.7rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.dark-welcome__headline {
  color: #ffff;
}

.light-welcome__headline {
  color: #000000;
}

.welcome__headline__gradient {
  margin: 1rem;
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome__overview__wrapper{
  display: flex;
  gap:1rem;
  align-items: center;
}
.welcome__overview {
  max-width: 45rem;
  font-size: 1.5rem;
  line-height: 1.55;
}

.dark-welcome__overview {
  color: #C1C2C5;
}

.light-welcome__overview {
  color: #343A40;
}

.welcome__video{
  width: 35rem;
  border-radius: 0.5rem;
}

.welcome__link-wrapper{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.welcome__call-to-action{
  text-decoration: none;
  min-width:12rem;
  padding: 0.9em 1.5em;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 0.6rem;

  display: flex;
  justify-content: center;
  gap:0.3rem;
}

.welcome__call-to-action:active{
  transform: translateY(0.15rem);
}
.welcome__signup-call-to-action{
  background-image: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
}

.welcome__signup-call-to-action:hover{
  background-size: 200%;
}

.welcome__github-call-to-action{
  background-color: #25262B;
}

.welcome__github-call-to-action:hover{
  background-color: #2C2E33;
}