.welcome {
  min-height: 93vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline{
  font-size: 3rem;
}

.dark-headline {
  color: white;
  border-color: white;
  transition: 1s
}

.light-headline {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    transition: 1s
}

.overview{
  font-size: 1.5rem;
}

.dark-overview {
  color: white;
  border-color: white;
  transition: 1s
}

.light-overview {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    transition: 1s
}