.search {
  min-height: 94vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search__h1 {
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search__form {
  width: 60%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search__info{
  height:1.5rem;
  margin: 1rem;

  display: flex;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
}

.search__info__p{
  margin:0;
  font-size: 1.4rem;
  font-weight: 300;
}

.light-search__info__p {
  color: #000000;
}

.dark-search__info__p {
  color: #ffff;
}

.search__info__label{
  margin-left:3rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.search__info__select{
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.1em;
  background-color: transparent;
  border-radius: 0.2rem;
}

ul {
  list-style-type: none;
 }