.image-creator {
  min-height: 94vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-creator__form-wrapper{
  width:100%;
  height: 25vh;

  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.light-image-creator__form-wrapper{
  background-color:rgb(251, 251, 251);
}

.dark-image-creator__form-wrapper{
  background-color:  rgb(23, 23, 25);
}

.image-creator__form {
  width: 60%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prompt__info{
  height:3rem;
  margin-bottom: 1.5rem;
}

.prompt__info__p{
  font-size: 1.4rem;
  font-weight: 300;
}

.light-prompt__info__p {
  color: black;
}

.dark-prompt__info__p {
  color: white;
}