.image-creator {
  min-height: 94vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.image-creator__h1 {
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-creator__form {
  width: 60%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prompt__info{
  height:1.5rem;
  margin: 1rem;

  display: flex;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
}

.prompt__info__p{
  margin-bottom:1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.light-prompt__info__p {
  color: #000000;
}

.dark-prompt__info__p {
  color: #ffff;
}

ul {
  list-style-type: none;
 }