.header {
  height: 6vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: sticky;
  top: 0;
  z-index: 1;
}

.logged-dark-header{
  border-bottom: 0.1rem solid;
  backdrop-filter: blur(5px);
  background-color: #141517c4;
  border-color: #171a1c;
}

.logged-light-header{
  border-bottom: 0.1rem solid;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.80);
  border-color: rgb(249, 249, 249);
}

.logo-wrapper {
  width: 20%;
  min-width: 10rem;

  display: flex;
  justify-content: flex-start;
}

.logo {
  width:60%;
  min-width: 10rem;
}

.dark-logo {
  fill: white;
}

.light-logo {
  fill:black;
}

.button-wrapper {
  width: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.link{
  background-color: transparent;
  text-decoration: none;
  line-height: 1.15;
  
  min-width:5.5rem;
  padding: 0.5em;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
}

.signup-link {
  border: 0.1em solid;
  border-radius: 1rem;
}

.dark-link {
  color: white;
  border-color: white;
}

.dark-link:hover {
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #1F9BD3; /* midpoint color*/ 
}

.light-link {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.light-link:hover {
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #1F9BD3;
}