.image-detail {
  position: relative;
  border-radius: 0.5rem;
}

.image-detail__buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  gap:1rem;
}
.image-detail__favorite {
  background-color: #f523232c;
  cursor: pointer;
  border:none;
  border-radius: 1rem;
  padding: 0.2rem;
  transition: background-color 0.5s ease-in-out;
}

.image-detail__favorite:active{
  transform: translateY(0.15rem);
}

.image-detail__favorite:hover {
  background-color: #f5232385;
}

.image-detail__download {
  background-color: #0000003c;
  cursor: pointer;
  border:none;
  border-radius: 1rem;
  padding: 0.2rem;
  transition: background-color 0.5s ease-in-out;
}

.image-detail__download:active{
  transform: translateY(0.15rem);
}

.image-detail__download:hover {
  background-color: #0000009d;
}

.image-detail__image{
  height: 874px;
}

.image-detail__info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;

  display: flex;
  flex-direction: column;
}

.image-detail__description {
  font-size: 1.8rem;
  font-weight: 700;
  margin:0;
  color:#ffff;
}

.image-detail__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
