.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: opacity 0.5s ease-in-out;
}

.image-card__image{
  height: 350px;
}

.image-card__tags {
  position: absolute; 
  bottom: 0;
  left: 0;
  margin: 0.4rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.image-card:hover{
  opacity: 1 !important;
}
.image-card:hover .image-card__tags {
  opacity: 1; /* Show the tags when the image is hovered */
}

