.dropdown {
  position: relative;
}

.target {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0em;
}

.dropdown-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-89%, 13%);

  box-shadow: rgb(0 0 0 / 5%) 0px 0.2rem 0.6rem;
  border: 0.06rem solid;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.dark-dropdown-content {
  background-color:  rgb(30, 30, 32);
  border-color:  rgb(30, 30, 32);
}

.light-dropdown-content {
  background-color: rgb(245, 245, 245);
  border-color: rgb(245, 245, 245);
}

.user-info{
  margin: 0.5rem;
  min-width: 13rem;
  line-height: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-name{
  margin: 0;
  padding: 0.5em;
  font-size: 1.7rem;
  font-weight: 700;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.user-info-email{
  margin:0;
  margin-top: -0.6rem;
  padding: 0.5em;
  font-size: 0.8rem;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.option {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0.8em;
  font-size: 1rem;
  border: 0.06rem solid;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  transition: background-color 0.5s ease-in-out;
}

.dark-option {
  color: white;
  border-color: rgb(55, 58, 64);
}

.dark-option:hover {
  background-color: #25262B;
}

.light-option {
  color: black;
  border-color: rgb(233, 236, 239);
}

.light-option:hover {
  background-color: rgb(223, 226, 229);
}
