.dropdown {
  position: relative;
}

.target {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0em;
}

.dropdown-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-89%, 15%);

  box-shadow: rgb(0 0 0 / 5%) 0px 0.1rem 0.3rem;
  border: 0.06rem solid;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.dark-dropdown-content {
  background-color: #25262b;
  border-color: rgb(55, 58, 64);
}

.light-dropdown-content {
  background-color: white;
  border-color: rgb(233, 236, 239);
}

.user-info{
  margin: 0.5rem;
  min-width: 13rem;
  line-height: 1;
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-info-name{
  margin: 0;
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: 800;
}

.user-info-email{
  margin:0;
  margin-top: -0.6rem;
  padding: 0.5em;
  font-size: 0.8rem;
}

.option {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 1em;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.06rem solid;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dark-option {
  color: white;
  border-color: rgb(55, 58, 64);
}

.dark-option:hover {
  background-color: #373a40;
}

.light-option {
  color: black;
  border-color: rgb(233, 236, 239);
}

.light-option:hover {
  background-color: #f1f3f5;
}
