.login{
  min-height: 93vh;
  width: 100%;
}

.login-modal{
  border-radius: 1rem;
  padding: 1.5rem;

  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.light-login-modal {
  background-color: #ffffff;
}

.dark-login-modal {
  background-color: #1A1B1E;
}

.small-logo{
  width:4rem;
}
.dark-small-logo {
  fill: #ffffff;
  transition: 1s;
}
.light-small-logo {
  fill:black;
  transition: 1s;
}

.login-title {
  font-size: 2rem;
  margin: 0 0 0 0;
}

.light-login-title {
  color: black;
  transition: 1s;
}

.dark-login-title {
  color: #ffffff;
  transition: 1s;
}