.profile-settings {
  min-height: 94vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.profile-settings__top {
  width: 100%;
  height: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.light-profile-settings__top {
  background-color:rgb(251, 251, 251);
}

.dark-profile-settings__top {
  background-color:  rgb(23, 23, 25);
}

.profile-settings__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-settings__user__name{
  margin:0;
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-settings__user__email{
  margin:0;
  font-size: 1.5rem;
  text-align: center;

  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-settings__forms{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-settings__forms__heading{
  margin:0;
  font-family: Greycliff CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-size: 2.3rem;
  font-weight: 800;
}

.dark-profile-settings__forms__heading{
  color: white;
}

.light-profile-settings__forms__heading{
  color: rgb(0, 0, 0);
}

.profile-settings__forms__info{
  width: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile-settings__forms__password{
  width: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

