.profile-settings {
  min-height: 94vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-settings-wrapper {
  max-width: 72rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-wrapper{
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
