.callout {
  font-size: 1.2rem;
  margin: 0;
}

.light-callout {
  color: #000000;
}

.dark-callout {
  color: #ffff;
}

.callout-link {
  margin-left: 0.3rem;
  text-decoration: none;
  background: linear-gradient(52deg, #1C7ED6 3%, #22B8CF 97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


