@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

.welcome-dark-background{
  background-image: linear-gradient(to top, #020d50 0%, #141517 100%); 
}

.dark-background{
  background-color: #141517;
}

.welcome-light-background{
  background-image: linear-gradient(to top, #7aa8da 0%, #ffffff 100%);
}

.light-background{
  background-color: #ffffff;
}
